.card-header {
  padding: 0px;
  display: flex;
  flex-direction: column;
  --tw-space-y-reverse: 0;
  margin-top: calc(0.375rem
      /* 6px */
      * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.375rem
      /* 6px */
      * var(--tw-space-y-reverse));
}